* {
    margin: 0%;
    padding: 0%;
}
h1 {
    background-color: #E1C621;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #097134;
}


header {
    position: fixed;
    text-align: center;
    width: 100%;
    box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.94);
}

main {
    background-image: url('imagens/fundoSite.png');
}

.informa {
    padding: 20px;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #097134;
}

.linkInforma {
    text-decoration: none;
}

.informa:hover {
    background-color: #097134;
    text-decoration: underline;
    color: aliceblue;
    box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.94);
}


button {
    margin-bottom: 20px;
    font-family: myriad-pro, sans-serif;
    background-color: #D96523;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.90);
}

button:hover {
    background-color: #D9BA23;
    width: 125px;
    height: 45px;
}


.imagemPrincipal {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 35px;
}

.bts {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
}

footer { 
    text-align: center;
    height: 100%;
    padding-top: 20px;
    background-color: #d3d3d3;
    padding-bottom: 15px;
}

footer > p {
    margin: 0%;

}