* {
    margin: 0%;
    padding: 0%;
}
h1 {
    background-color: #E1C621;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #097134;
}


header {
    position: fixed;
    text-align: center;
    width: 100%;
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.83);
}

main {
    background-image: url('imagens/fundoSite.png');
}

.informa {
    padding: 20px;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #097134;
}

.linkInforma {
    text-decoration: none;
}

.informa:hover {
    background-color: #097134;
    text-decoration: underline;
    color: aliceblue;
    box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.94);
    font-size: 18px;
}


button {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #D96523;
    transition: .10s;
    overflow: hidden;
    border: none;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.90);

}

button:hover {
    background-color: #E1C621;
    width: 145px;
    height: 40px;
    cursor: pointer;
    transform: translateX(5px) skewX(-10deg);
    transition: .10s;
}


.imagemPrincipal {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 35px;
}

.bts {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
}

footer { 
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-align: center;
    height: 100%;
    padding-top: 20px;
    background-color: #d3d3d3;
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #097134;
}

footer a:hover {
    text-decoration: underline;
    border-radius: 5px;
}

footer > p {
    margin: 0%;

}